<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" style="min-height:100%;background:#eeeeee">

<head>
    <title>
        Tuturing Email
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="telephone=no" name="format-detection" />
    <style type="text/css">
        body {
            margin: 0;
            min-width: 100%!important;
            -webkit-text-size-adjust: 100% !important;
            -ms-text-size-adjust: 100% !important;
            -webkit-font-smoothing: antialiased !important;
        }

        img {
            border: 0 !important;
            outline: none !important;
        }

        img.floated {
            margin: 0;
            padding: 0;
            border: 0 !important;
            outline: none !important;
            float: left !important;
            overflow: auto;
        }

        font.title {
            font-size: 24px;
            font-weight: bold;
        }

        p {
            Margin: 0px !important;
            Padding: 0px !important;
        }

        table {
            border-collapse: separate;
            mso-table-lspace: 0px;
            mso-table-rspace: 0px;
        }

        div,
        td,
        a {
            padding-left: 12px;
            padding-right: 12px;
            border-collapse: collapse;
            mso-line-height-rule: exactly;
            border-collapse: collapse;
            mso-line-height-rule: exactly;
        }

        span {
            border-collapse: collapse;
            mso-line-height-rule: exactly;
            border-collapse: collapse;
            mso-line-height-rule: exactly;
        }

        .ExternalClass * {
            line-height: 100%;
            width: 100%;
        }

        html {
            width: 100%;
        }

        body {
            width: 100% !important;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -webkit-font-smoothing: antialiased;
            margin: 0;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        #backgroundTable {
            margin: 0;
            padding: 0;
            width: 100% !important;
            line-height: 100% !important;
        }

        img {
            outline: none;
            text-decoration: none;
            border: none;
            -ms-interpolation-mode: bicubic;
        }

        a img {
            border: none;
        }

        table td {
            border-collapse: collapse;
        }

        table {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }
    </style>
</head>

<body>
<div class="preheader" style="visibility:hidden;opacity:0;color:transparent;height:0;width:0;font-size:0px;mso-hide:all;display:none !important"></div>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />
<table class="body" style="margin: 0; background: #eeeeee !important; border-collapse: collapse; border-spacing: 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; height: 100%; line-height: 19px;  text-align: left; vertical-align: top; width: 100%; overflow-x: hidden;">
    <tbody>
    <tr style=" text-align: left; vertical-align: top;">
        <td class="center" align="center" valign="top" style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;vertical-align:top;color:#333333;font-family:roboto, Helvetica, Arial, sans-serif;font-weight:normal;margin:0;text-align:left;font-size:16px;line-height:19px;border-collapse:collapse !important">
            <div style="width:100%;max-width:100%;text-align:center">

                <table style="border-collapse: collapse; border-spacing: 0; display: table;position: relative; text-align: left; vertical-align: top; width:800px;min-width: 100%; max-width: 100%;">
                    <tr style="text-align: left; vertical-align: top;">
                        <td style="width: 510px; word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;vertical-align:top;color:#333333;font-family:roboto, Helvetica, Arial, sans-serif;font-weight:normal;padding-top:30px;padding-bottom:18px; padding-left: 18px; padding-right: 18px;margin:0;text-align:left;font-size:16px;line-height:19px;border-collapse:collapse !important;">
                        <table style="border-collapse: collapse; border-spacing: 0px;  text-align: left; vertical-align: top; max-width: 100%;">
                            {{#if cdn_url}}
                                <tr style=" text-align: left; vertical-align: top;">
                                    <td style="background: #ffffff !important;margin: 0px; color: #333333; border-top-left-radius:8px; border-top-right-radius:8px;font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 20px; ; text-align: left; width: 612px;min-width:612px;">

                                        <table style="border-collapse: collapse; border-spacing: 0; display: table;  position: relative; text-align: left; vertical-align: top; min-width: 100%; max-width: 100%;">

                                            <tr style="text-align: left; vertical-align: top;">
                                                <td style="padding-top:18px;padding-left: 12px;padding-bottom: 12px;">
                                                    <a style="text-decoration: none;" href="https://www.tuturing.com" target="_blank"><img class="em_w150" style="padding-top:18px;padding-right: 12px;display: block; max-width: 163px;" src="{{cdn_url}}/emails/tuturing_icon.png" alt="tuturing" width="163" height="48" /> </a>
                                                </td>
                                            </tr>

                                        </table>

                                        <table style="border-collapse: collapse; border-spacing: 0;  text-align: left; vertical-align: top; width: 100%;">

                                            <tr style=" text-align: left; vertical-align: top;">
                                                <td style="padding-top:18px;padding-bottom: 16px;">
                                                    <p class="headline headline-lg heavy max-width-485" style="padding-top:12px;padding-left: 12px;padding-right: 12px;margin: 0; font-weight: 500; text-align: left; line-height: 22px; font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; font-size: 24px; color: #333333;">&nbsp;Hello {{{first_name}}},</p>
                                                </td>
                                            </tr>

                                        </table>
                                        <table style="border-collapse: collapse; border-spacing: 0;  text-align: left; vertical-align: top; width: 100%;">

                                            <tr style="text-align: left; vertical-align: top;">
                                                <td>
                                                    <p class="headline headline-lg heavy max-width-485" style="padding-left: 12px;padding-right: 12px;margin: 0; font-weight: normal; text-align: left; line-height: 22px; font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; font-size: 16px; color: #333333;">&nbsp;Thank you for booking with tuturing.
                                                        <br/> &nbsp;Your reservation is booked and confirmed.</p>
                                                </td>
                                            </tr>

                                        </table>
                                        {{#each flight_segments}} {{#unless _return}}

                                            <table style="border-collapse: collapse; border-spacing: 0px;  text-align: left; vertical-align: top; max-width: 100%;">

                                                <tr style=" text-align: left; vertical-align: top;">
                                                    <td style="padding-left: 0px;padding-right: 0px;background: #ffffff !important;margin: 0px; color: #333333; border-top-left-radius:8px; border-top-right-radius:8px;font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; text-align: left; width: 612px;max-width:612px;">
                                                        {{#if destination}}

                                                            <table cellspacing="1" width="100%" min-width="100%">

                                                                <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                                    <td style="padding-top:16px;padding-bottom:16px;text-align:left;line-height:1 !important;font-weight:500;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #333333 !important;">
                                                                        &nbsp;Departure to {{destination.city}}, {{destination.subdivision_code}} {{destination.country}}
                                                                    </td>

                                                                </tr>

                                                            </table>
                                                        {{/if}} {{#each flight_legs}} {{#if departure_airport}} {{#if arrival_airport}} {{#unless _layover}}
                                                        <table cellspacing="1" width="100%" min-width="100%" style="padding-top:16px;">

                                                            <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                                <td style="font-size:32px;text-align: left;font-weight: 500;color:#333333;width: 51%;">{{departure_airport.code}}</td>
                                                                <td>
                                                                    <img src="{{cdn_url}}/emails/airlines/{{airline_marketing_iata}}.png" align="center" style="-ms-interpolation-mode: bicubic; clear: both;padding-inline-start: 24px;text-decoration: none;width:28px;height:28px" />
                                                                </td>
                                                                <td style="text-align:right; font-size:32px;font-weight: 500;color:#333333;">{{arrival_airport.code}}&nbsp;</td>
                                                            </tr>
                                                            <tr style="vertical-align: top; min-width: 100%; max-width: 100%;">
                                                                <td style="text-align:left;line-height:normal !important;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #666666 !important;">
                                                                    &nbsp;{{departure_airport.city}}, {{departure_airport.subdivision_code}} {{departure_airport.country}} &nbsp;
                                                                </td>
                                                                <td style="text-align:left;line-height:normal !important;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #666666 !important;">
                                                                    {{airline_marketing_iata}}-{{airline_operating_flight_number}}

                                                                </td>
                                                                <td style="text-align:right;line-height:normal !important;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #666666 !important;">
                                                                    {{arrival_airport.city}}, {{arrival_airport.subdivision_code}} {{arrival_airport.country}}&nbsp;
                                                                </td>
                                                            </tr>

                                                        </table>

                                                        <!--spacer-->
                                                        <table style="border-collapse: collapse; border-spacing: 0;  text-align: left; vertical-align: top;">

                                                            <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                                <td height="16px" style="font-size:10px;line-height:10px;">

                                                                </td>
                                                            </tr>

                                                        </table>

                                                        <!--end spacer-->

                                                        <table cellspacing="1" width="100%" min-width="100%">

                                                            <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                                <td style="font-size:16px; color:#333333; margin:0; padding-left:12px;padding:0;margin-inline-start:0margin-inline-end:0; padding-left:12px;padding-top:16px;text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">
                                                                    &nbsp;{{departure_date}} </td>

                                                            </tr>

                                                        </table>

                                                        <table cellspacing="1" width="100%" min-width="100%">

                                                            <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                                <td colspan="12" style="vertical-align:top;padding-top:15px;padding-bottom:15px;">
                                                                    <hr class="leg-divider" style="margin-right:16px;padding-left:0px;border-bottom: 1px solid #dddddd; border-left: 0; border-right: 0; border-style: dashed; border-top: 0; clear: both; height: 0; margin: px; width:100%;max-width:100%;" />
                                                                </td>
                                                            </tr>

                                                        </table>
                                                        <table cellspacing="1" width="100%" min-width="100%">

                                                            <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                                <td style="border-collapse: collapse !important;margin-bottom:0 !important; width:50%">
                                                                    <p style="font-size:22px; color:#333333; margin:0; padding:0;margin-inline-start:0;margin-inline-end:0; text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;">
                                                                        &nbsp;{{departure_time}} - {{arrival_time}}
                                                                    </p>
                                                                </td>
                                                                <td style="font-size:16px; color:#666666; margin:0; text-align:right;padding:0;margin-inline-start:0;margin-inline-end:0;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">{{flight_duration}}&nbsp;</td>
                                                            </tr>

                                                        </table>
                                                        <table style="border-collapse: collapse; border-spacing: 0;  text-align: left; vertical-align: top;">

                                                            <tr style=" text-align: left; vertical-align: top;min-width: 100%; max-width: 100%;">
                                                                <td>
                                                                    <p style="margin:0;text-align:left;line-height:normal;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #333333 !important;">
                                                                        &nbsp;{{departure_airport.city}}, {{departure_airport.country}}, ({{departure_airport.code}}) - {{arrival_airport.city}}, {{arrival_airport.country}}, ({{arrival_airport.code}})&nbsp;
                                                                    </p>
                                                                    <p style="font-size:16px; color:#aaaaaa; margin:0; padding:0;margin-inline-start:0margin-inline-end:0; text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">
                                                                        &nbsp;{{airline_marketing_name}} • {{airline_marketing_iata}}-{{airline_operating_flight_number}} • {{cabin_name}} ({{booking_code}})&nbsp;

                                                                    </p>
                                                                </td>
                                                            </tr>

                                                        </table>

                                                    {{/unless}} {{#if _layover}}
                                                        <table cellspacing="3" width="100%" min-width="100%">

                                                            <tr style="vertical-align: top; min-width: 100%; max-width: 100%;">

                                                                <td style="font-size:16px; color:#333333; margin:0; padding:0;margin-inline-start:0margin-inline-end:0; text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;width: 88%;min-width: 88%;max-width: 88%;">
                                                                        <span><img class="floated" src="{{cdn_url}}/emails/layover.png" width="16" height="16" alt="layover" style="padding-left:16px;padding-right:0px;max-height:16px;max-width:16px; color:#666666;"/>&nbsp;Layover
                                                                    in {{arrival_airport.city}},
                                                                            {{arrival_airport.country}} ({{arrival_airport.code}})</span>
                                                                </td>

                                                                <td style="font-size:16px; color:#333333; margin:0; padding:0;margin-inline-start:0margin-inline-end:0; text-align:right;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">
                                                                        <span>

                                                                    <img class="floated" src="{{cdn_url}}/emails/overnight.png" width="16" height="16" alt="overnight" style="padding-left:0px;padding-right:0px;max-height:16px;max-width:16px; color:#666666;" />
                                                                            {{layover_duration}}&nbsp;</span>
                                                                </td>
                                                            </tr>

                                                        </table>
                                                        <table cellspacing="1" width="100%" min-width="100%">

                                                            <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                                <td colspan="12" style="vertical-align:top;padding-bottom:15px;">
                                                                    <hr class="leg-divider" style="margin-right:16px;padding-left:0px;border-bottom: 1px solid #dddddd; border-left: 0; border-right: 0; border-style: dashed; border-top: 0; clear: both; height: 0; margin: px; width:100%;max-width:100%;" />
                                                                </td>
                                                            </tr>

                                                        </table>

                                                        <table cellspacing="1" width="100%" min-width="100%" style="padding-top:16px;">

                                                            <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                                <td style="font-size:32px;text-align: left;font-weight: 500;color:#333333;width: 51%;">{{departure_airport.code}}</td>
                                                                <td>
                                                                    <img src="{{cdn_url}}/emails/airlines/{{airline_marketing_iata}}.png" align="center" style="-ms-interpolation-mode: bicubic; clear: both;padding-inline-start: 24px;text-decoration: none;width:28px;height:28px" />
                                                                </td>
                                                                <td style="text-align:right; font-size:32px;font-weight: 500;color:#333333;">{{arrival_airport.code}}&nbsp;</td>
                                                            </tr>
                                                            <tr style="vertical-align: top; min-width: 100%; max-width: 100%;">
                                                                <td style="text-align:left;line-height:normal !important;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #666666 !important;">
                                                                    {{departure_airport.city}}, {{departure_airport.subdivision_code}} {{departure_airport.country}} &nbsp;
                                                                </td>
                                                                <td style="text-align:left;line-height:normal !important;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #666666 !important;">
                                                                    {{airline_marketing_iata}}-{{airline_operating_flight_number}}

                                                                </td>
                                                                <td style="text-align:right;line-height:normal !important;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #666666 !important;">
                                                                    {{arrival_airport.city}}, {{arrival_airport.subdivision_code}} {{arrival_airport.country}}&nbsp;
                                                                </td>
                                                            </tr>

                                                        </table>

                                                        <table style="border-collapse: collapse; border-spacing: 0;  text-align: left; vertical-align: top;">

                                                            <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                                <td height="16px" style="font-size:10px;line-height:10px;">

                                                                </td>
                                                            </tr>

                                                        </table>

                                                        {{#if _next_day_arrival}} {{#if _next_day_departure}}

                                                            <table cellspacing="1" width="100%" min-width="100%">

                                                                <tr style=" vertical-align: top; width: 90%; max-width: 90%;">
                                                                    <td>
                                                                        <p style="margin:0;text-align:left;line-height:normal;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #b00000 !important;">
                                                                            &nbsp;{{departure_date}}
                                                                        </p>
                                                                    </td>
                                                                    <td style="font-size:16px; color:#666666; margin:0; text-align:right;padding:0;margin-inline-start:0margin-inline-end:0;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">
                                                                        {{arrival_airport.city}}, {{arrival_airport.country}}&nbsp;
                                                                    </td>

                                                                </tr>
                                                            </table>

                                                            <table cellspacing="1" width="100%" min-width="100%">

                                                                <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                                    <td colspan="12" style="vertical-align:top;padding-top:15px;padding-bottom:15px;">
                                                                        <hr class="leg-divider" style="margin-right:16px;padding-left:0px;border-bottom: 1px solid #dddddd; border-left: 0; border-right: 0; border-style: dashed; border-top: 0; clear: both; height: 0; margin: px; width:100%;max-width:100%;" />
                                                                    </td>
                                                                </tr>

                                                            </table>
                                                        {{/if}} {{/if}}
                                                        <table cellspacing="1" width="100%" min-width="100%">

                                                            <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                                <td style="border-collapse: collapse !important;margin-bottom:0 !important; width:50%">
                                                                    <p style="font-size:22px; color:#333333; margin:0; padding:0;margin-inline-start:0margin-inline-end:0; text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;">
                                                                        &nbsp;{{departure_time}} - {{arrival_time}}
                                                                    </p>
                                                                </td>
                                                                <td style="font-size:16px; color:#666666; margin:0; text-align:right;padding:0;margin-inline-start:0margin-inline-end:0;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">{{flight_duration}}&nbsp;</td>
                                                            </tr>

                                                        </table>
                                                        <table style="border-collapse: collapse; border-spacing: 0;  text-align: left; vertical-align: top;">

                                                            <tr style=" text-align: left; vertical-align: top;min-width: 100%; max-width: 100%;">
                                                                <td>
                                                                    <p style="margin:0;text-align:left;line-height:normal;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #333333 !important;">
                                                                        &nbsp;{{departure_airport.city}}, {{departure_airport.country}}, ({{departure_airport.code}}) - {{arrival_airport.city}}, {{arrival_airport.country}}, ({{arrival_airport.code}})&nbsp;
                                                                    </p>
                                                                    <p style="font-size:16px; color:#aaaaaa; margin:0; padding:0;margin-inline-start:0margin-inline-end:0; text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">
                                                                        &nbsp; {{airline_marketing_name}} • {{airline_marketing_iata}}-{{airline_operating_flight_number}} • {{cabin_name}} ({{booking_code}}) &nbsp;

                                                                    </p>
                                                                </td>
                                                            </tr>

                                                        </table>
                                                    {{/if}}
                                                        <table cellspacing="1" width="100%" min-width="100%">

                                                            <tr style=" vertical-align: top; min-width: 400px; max-width: 100%;">
                                                                <td colspan="12" style="vertical-align:top;padding-top:15px;padding-bottom:15px;">
                                                                    <hr class="leg-divider" style="margin-right:16px;padding-left:0px;border-bottom: 1px solid #dddddd; border-left: 0; border-right: 0; border-style: dashed; border-top: 0; clear: both; height: 0; margin: px; width:100%;max-width:100%;" />
                                                                </td>
                                                            </tr>

                                                        </table>
                                                    {{/if}}{{/if}} {{/each}}

                                                        <table cellspacing="1" width="100%" min-width="100%">

                                                            <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                                <td style="font-size:16px; color:#333333; margin:0; padding-left:12px;padding:0;margin-inline-start:0margin-inline-end:0; padding-left:12px;padding-top:16px;text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important; width:50%">
                                                                    &nbsp;Total trip duration </td>

                                                                <td style="font-size:16px; color:#666666; margin:0; text-align:right;padding:0;margin-inline-start:0margin-inline-end:0;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">{{total_duration}}&nbsp;</td>
                                                            </tr>

                                                        </table>
                                                        <!--spacer-->
                                                        <table style="border-collapse: collapse; border-spacing: 0;  text-align: left; vertical-align: top;">

                                                            <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                                <td height="16px" style="font-size:10px;line-height:10px;">
                                                                </td>
                                                            </tr>

                                                        </table>
                                                    </td>
                                                </tr>

                                            </table>
                                        {{/unless}} {{/each}} {{#each flight_segments}}{{#if _return}}
                                        <table style="border-collapse: collapse; border-spacing: 0px;  text-align: left; vertical-align: top; max-width: 100%;">
                                            <tr style=" text-align: left; vertical-align: top;">
                                                <td style="padding-left:0px; padding-right:0px;background: #ffffff !important;margin: 0px; color: #333333; border-top-left-radius:8px; border-top-right-radius:8px;font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; text-align: left; width: 612px;min-width:612px;">
                                                    {{#if destination}}

                                                        <table cellspacing="1" width="100%" min-width="100%">

                                                            <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                                <td style="padding-top:16px;padding-bottom:16px;text-align:left;line-height:1 !important;font-weight:500;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #333333 !important;">
                                                                    &nbsp;Return to {{destination.city}}, {{destination.subdivision_code}} {{destination.country}}
                                                                </td>

                                                            </tr>

                                                        </table>
                                                    {{/if}} {{#each flight_legs}} {{#if departure_airport}} {{#if arrival_airport}} {{#unless _layover}}
                                                    <table cellspacing="1" width="100%" min-width="100%" style="padding-top:16px;">

                                                        <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                            <td style="font-size:32px;text-align: left;font-weight: 500;color:#333333;width: 51%;">{{departure_airport.code}}</td>
                                                            <td>
                                                                <img src="{{cdn_url}}/emails/airlines/{{airline_marketing_iata}}.png" align="center" style="-ms-interpolation-mode: bicubic; clear: both;padding-inline-start: 24px;text-decoration: none;width:28px;height:28px" />
                                                            </td>
                                                            <td style="text-align:right; font-size:32px;font-weight: 500;color:#333333;">{{arrival_airport.code}}&nbsp;</td>
                                                        </tr>
                                                        <tr style="vertical-align: top; min-width: 100%; max-width: 100%;">
                                                            <td style="text-align:left;line-height:normal !important;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #666666 !important;">
                                                                {{departure_airport.city}}, {{departure_airport.subdivision_code}} {{departure_airport.country}} &nbsp;
                                                            </td>
                                                            <td style="text-align:left;line-height:normal !important;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #666666 !important;">
                                                                {{airline_marketing_iata}}-{{airline_operating_flight_number}}

                                                            </td>
                                                            <td style="text-align:right;line-height:normal !important;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #666666 !important;">
                                                                {{arrival_airport.city}}, {{arrival_airport.subdivision_code}} {{arrival_airport.country}}&nbsp;
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <table style="border-collapse: collapse; border-spacing: 0;  text-align: left; vertical-align: top;">

                                                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                            <td height="16px" style="font-size:10px;line-height:10px;">

                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <table cellspacing="1" width="100%" min-width="100%">

                                                        <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                            <td style="font-size:16px; color:#333333; margin:0; padding-left:12px;padding:0;margin-inline-start:0margin-inline-end:0; padding-left:12px;padding-top:16px;text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">
                                                                &nbsp;{{departure_date}} </td>

                                                        </tr>

                                                    </table>

                                                    <table cellspacing="1" width="100%" min-width="100%">

                                                        <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                            <td colspan="12" style="vertical-align:top;padding-top:15px;padding-bottom:15px;">
                                                                <hr class="leg-divider" style="margin-right:16px;padding-left:0px;border-bottom: 1px solid #dddddd; border-left: 0; border-right: 0; border-style: dashed; border-top: 0; clear: both; height: 0; margin: px; width:100%;max-width:100%;" />
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <table cellspacing="1" width="100%" min-width="100%">

                                                        <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                            <td style="border-collapse: collapse !important;margin-bottom:0 !important; width:50%">
                                                                <p style="font-size:22px; color:#333333; margin:0; padding:0;margin-inline-start:0margin-inline-end:0; text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;">
                                                                    &nbsp;{{departure_time}} - {{arrival_time}}
                                                                </p>
                                                            </td>
                                                            <td style="font-size:16px; color:#666666; margin:0; text-align:right;padding:0;margin-inline-start:0margin-inline-end:0;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">{{flight_duration}}&nbsp;</td>
                                                        </tr>

                                                    </table>
                                                    <table style="border-collapse: collapse; border-spacing: 0;  text-align: left; vertical-align: top;">

                                                        <tr style=" text-align: left; vertical-align: top;min-width: 100%; max-width: 100%;">
                                                            <td>
                                                                <p style="margin:0;text-align:left;line-height:normal;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #333333 !important;">
                                                                    &nbsp;{{departure_airport.city}}, {{departure_airport.country}}, ({{departure_airport.code}}) - {{arrival_airport.city}}, {{arrival_airport.country}}, ({{arrival_airport.code}})&nbsp;
                                                                </p>
                                                                <p style="font-size:16px; color:#aaaaaa; margin:0; padding:0;margin-inline-start:0margin-inline-end:0; text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">
                                                                    &nbsp;{{airline_marketing_name}} • {{airline_marketing_iata}}-{{airline_operating_flight_number}} • {{cabin_name}} ({{booking_code}})&nbsp;

                                                                </p>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <table cellspacing="1" width="100%" min-width="100%">

                                                        <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                            <td colspan="12" style="vertical-align:top;padding-top:15px;padding-bottom:15px;">
                                                                <hr class="leg-divider" style="margin-right:16px;padding-left:0px;border-bottom: 1px solid #dddddd; border-left: 0; border-right: 0; border-style: dashed; border-top: 0; clear: both; height: 0; margin: px; width:100%;max-width:100%;" />
                                                            </td>
                                                        </tr>

                                                    </table>
                                                {{/unless}} {{#if _layover}}
                                                    <table cellspacing="3" width="100%" min-width="100%">

                                                        <tr style="vertical-align: top; min-width: 100%; max-width: 100%;">

                                                            <td style="font-size:16px; color:#333333; margin:0; padding:0;margin-inline-start:0margin-inline-end:0; text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;width: 88%;min-width: 88%;max-width: 88%;">
                                                                        <span><img class="floated" src="{{cdn_url}}/emails/layover.png" width="16" height="16" alt="layover" style="padding-left:16px;padding-right:0px;max-height:16px;max-width:16px; color:#666666;"/>&nbsp;Layover
                                                                    in {{arrival_airport.city}},
                                                                            {{arrival_airport.country}} ({{arrival_airport.code}})</span>
                                                            </td>

                                                            <td style="font-size:16px; color:#333333; margin:0; padding:0;margin-inline-start:0margin-inline-end:0; text-align:right;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">
                                                                        <span>

                                                                    <img class="floated" src="{{cdn_url}}/emails/overnight.png" width="16" height="16" alt="overnight" style="padding-left:0px;padding-right:0px;max-height:16px;max-width:16px; color:#666666;" />
                                                                            {{layover_duration}}&nbsp;</span>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <table cellspacing="1" width="100%" min-width="100%">

                                                        <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                            <td colspan="12" style="vertical-align:top;padding-top:15px;padding-bottom:15px;">
                                                                <hr class="leg-divider" style="margin-right:16px;padding-left:0px;border-bottom: 1px solid #dddddd; border-left: 0; border-right: 0; border-style: dashed; border-top: 0; clear: both; height: 0; margin: px; width:100%;max-width:100%;" />
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <table cellspacing="1" width="100%" min-width="100%" style="padding-top:16px;">

                                                        <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                            <td style="font-size:32px;text-align: left;font-weight: 500;color:#333333;width: 51%;">{{departure_airport.code}}</td>
                                                            <td>
                                                                <img src="{{cdn_url}}/emails/airlines/{{airline_marketing_iata}}.png" align="center" style="-ms-interpolation-mode: bicubic; clear: both;padding-inline-start: 18px;text-decoration: none;width:28px;height:28px" />
                                                            </td>
                                                            <td style="text-align:right; font-size:32px;font-weight: 500;color:#333333;">{{arrival_airport.code}}&nbsp;</td>
                                                        </tr>
                                                        <tr style="vertical-align: top; min-width: 100%; max-width: 100%;">
                                                            <td style="text-align:left;line-height:normal !important;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #666666 !important;">
                                                                {{departure_airport.city}}, {{departure_airport.subdivision_code}} {{departure_airport.country}} &nbsp;
                                                            </td>
                                                            <td style="text-align:left;line-height:normal !important;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #666666 !important;">
                                                                {{airline_marketing_iata}}-{{airline_operating_flight_number}}

                                                            </td>
                                                            <td style="text-align:right;line-height:normal !important;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #666666 !important;">
                                                                {{arrival_airport.city}}, {{arrival_airport.subdivision_code}} {{arrival_airport.country}}&nbsp;
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <table style="border-collapse: collapse; border-spacing: 0;  text-align: left; vertical-align: top;">

                                                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                            <td height="16px" style="font-size:10px;line-height:10px;">

                                                            </td>
                                                        </tr>

                                                    </table>
                                                    {{#if _next_day_arrival}} {{#if _next_day_departure}}
                                                        <table cellspacing="1" width="100%" max-width="100%">

                                                            <tr>
                                                                <td style=" text-align: left; vertical-align: top;width:90%; max-width: 90%;">

                                                                    <p style="margin:0;text-align:left;line-height:normal;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #b00000 !important;">
                                                                        &nbsp;{{departure_date}}
                                                                    </p>
                                                                </td>
                                                                <td style="font-size:16px; color:#666666; margin:0; text-align:right;padding:0;margin-inline-start:0margin-inline-end:0;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">
                                                                    {{arrival_airport.city}}, {{arrival_airport.country}}&nbsp;
                                                                </td>

                                                            </tr>
                                                        </table>
                                                        <table cellspacing="1" width="100%" min-width="100%">

                                                            <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                                <td colspan="12" style="vertical-align:top;padding-top:15px;padding-bottom:15px;">
                                                                    <hr class="leg-divider" style="margin-right:16px;padding-left:0px;border-bottom: 1px solid #dddddd; border-left: 0; border-right: 0; border-style: dashed; border-top: 0; clear: both; height: 0; margin: px; width:100%;max-width:100%;" />
                                                                </td>
                                                            </tr>

                                                        </table>
                                                    {{/if}} {{/if}}
                                                    <table cellspacing="1" width="100%" min-width="100%">

                                                        <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                            <td style="border-collapse: collapse !important;margin-bottom:0 !important; width:50%">
                                                                <p style="font-size:22px; color:#333333; margin:0; padding:0;margin-inline-start:0margin-inline-end:0; text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;">
                                                                    &nbsp;{{departure_time}} - {{arrival_time}}
                                                                </p>
                                                            </td>
                                                            <td style="font-size:16px; color:#666666; margin:0; text-align:right;padding:0;margin-inline-start:0margin-inline-end:0;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">{{flight_duration}}&nbsp;</td>
                                                        </tr>

                                                    </table>
                                                    <table style="border-collapse: collapse; border-spacing: 0;  text-align: left; vertical-align: top;">

                                                        <tr style=" text-align: left; vertical-align: top;min-width: 100%; max-width: 100%;">
                                                            <td>
                                                                <p style="margin:0;text-align:left;line-height:normal;font-weight:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #333333 !important;">
                                                                    &nbsp;{{departure_airport.city}}, {{departure_airport.country}}, ({{departure_airport.code}}) - {{arrival_airport.city}}, {{arrival_airport.country}}, ({{arrival_airport.code}})&nbsp;
                                                                </p>
                                                                <p style="font-size:16px; color:#aaaaaa; margin:0; padding:0;margin-inline-start:0margin-inline-end:0; text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">
                                                                    &nbsp; {{airline_marketing_name}} • {{airline_marketing_iata}}-{{airline_operating_flight_number}} • {{cabin_name}} ({{booking_code}})&nbsp;
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                {{/if}} {{/if}} {{/if}} {{/each}}

                                                    <table cellspacing="1" width="100%" min-width="100%">

                                                        <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                                            <td style="font-size:16px; color:#333333; margin:0; padding-left:12px;padding:0;margin-inline-start:0margin-inline-end:0; padding-left:12px;padding-top:16px;text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important; width:50%">
                                                                &nbsp;Total trip duration </td>

                                                            <td style="font-size:16px; color:#666666; margin:0; text-align:right;padding:0;margin-inline-start:0margin-inline-end:0;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">{{total_duration}}&nbsp;</td>
                                                        </tr>

                                                    </table>
                                                    <table style="border-collapse: collapse; border-spacing: 0;  text-align: left; vertical-align: top;">

                                                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                            <td height="16px" style="font-size:10px;line-height:10px;">

                                                            </td>
                                                        </tr>

                                                    </table>
                                                </td>
                                            </tr>

                                        </table>
                                    {{/if}} {{/each}}
                                    </td>
                                </tr>

                            </table>
                            {{/if}}
                            <table style="border-collapse: collapse; border-spacing: 0px;  text-align: left; vertical-align: top; width: 612px; max-width: 612px;">
                                <tr style=" text-align: left; vertical-align: top;">
                                    <td style="background: #f8f8f8 !important;margin: 0px; color: #333333; border-bottom-left-radius:8px; border-bottom-right-radius:8px;font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 20px; padding-left:6px; padding-right:6px;text-align: left; width: 612px; max-width:612px;">
                                        <table class="row" style="padding-left: 18px;padding-right: 18px;border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;position:relative;display:table; width: 612px; max-width: 612px;">
                                            <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                <td height="16px" style="font-size:10px;line-height:10px;">

                                                </td>
                                            </tr>

                                            <tr style="padding:0;vertical-align:top;text-align:left">
                                                <td class="columns first large-12 last small-12" style="font-family:roboto;font-weight:normal;text-align:left;font-size:14px;line-height:1.38;margin:0 auto;padding-top:16px;padding-bottom:8px;width:100%;min-width:100%">
                                                    <p style="font-size:14px;letter-spacing: normal;line-height:normal;color:#aaaaaa;padding-right:0; margin-right:0; text-align:left;">
                                                        ORDER NUMBER:
                                                    </p>
                                                    <p style="margin-block-start: 0px;margin-block-end: 0px;padding:0;margin:0;text-align:left;line-height:normal !important;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:24px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #333333 !important;">
                                                        {{order_number}}
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr style="padding:0;vertical-align:top;text-align:left">
                                                <td class="columns first large-12 last small-12" style="font-family:roboto;font-weight:normal;text-align:left;font-size:14px;line-height:1.38;margin:0 auto;padding-top:2px;padding-bottom:8px;width:100%;padding-right:8px">
                                                    <p style="font-size:14px;letter-spacing: normal;line-height:normal;color:#aaaaaa;padding-right:0; margin-right:0; text-align:left;">
                                                        tuturing TRIP ID:
                                                    </p>
                                                    <p style="margin-block-start: 0px;margin-block-end: 0px;padding:0;margin:0;text-align:left;line-height:normal !important;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:24px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #333333 !important;">
                                                        {{trip_id}}
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr style="padding:0;vertical-align:top;text-align:left">
                                                <td class="columns first large-12 last small-12" style="font-family:roboto;font-weight:normal;text-align:left;font-size:14px;line-height:1.38;margin:0 auto;padding-top:2px;padding-bottom:8px;width:100%;padding-right:8px">
                                                    <p style="font-size:14px;letter-spacing: normal;line-height:normal;color:#aaaaaa;padding-right:0; margin-block-start: 0px;margin-block-end: 0px; margin-right:0; text-align:left;">
                                                        CONFIRMATION:
                                                    </p>
                                                    <p style="margin-block-start: 0px;margin-block-end: 0px;padding:0;margin:0;text-align:left;line-height:normal !important;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:24px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #333333 !important;">
                                                        {{confirmation_number}}
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr style="padding:0;vertical-align:top;text-align:left">
                                                <td class="columns first large-12 last small-12" style="font-family:roboto;font-weight:normal;text-align:left;font-size:14px;line-height:1.38;margin:0 auto;padding-top:2px;padding-bottom:8px;width:100%;padding-right:8px">
                                                    <p style="font-size:14px;letter-spacing: normal;line-height:normal;color:#aaaaaa;padding-right:0; margin-right:0; text-align:left;">
                                                        PURCHASED ON:
                                                    </p>
                                                    <p style="margin-block-start: 0px;margin-block-end: 0px;padding:0;margin:0;text-align:left;line-height:normal !important;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #333333 !important;">
                                                        {{booked_on}}
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr style="padding:0;vertical-align:top;text-align:left">
                                                <td class="columns first large-12 last small-12" style="font-family:roboto;font-weight:normal;text-align:left;font-size:14px;line-height:1.38;margin:0 auto;padding-top:2px;padding-bottom:8px;width:100%;padding-right:8px">
                                                    <p style="font-size:14px;letter-spacing: normal;line-height:normal;color:#aaaaaa;padding-right:0; margin-right:0; text-align:left;">
                                                        PURCHASER:
                                                    </p>
                                                    <p style="margin-block-start: 0px;margin-block-end: 0px;padding:0;margin:0;text-align:left;line-height:normal;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #333333 !important;">
                                                        {{{booker_name}}}
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr style="padding:0;vertical-align:top;text-align:left">
                                                <td class="columns first large-12 last small-12" style="font-family:roboto;font-weight:normal;text-align:left;font-size:16px;line-height:1.38;margin:0 auto;padding-top:2px;width:100%;padding-right:8px">
                                                    <p style="margin-block-start: 0px;margin-block-end: 0px;font-size:16px;letter-spacing: normal;line-height:normal;color:#aaaaaa;padding-right:0; margin-right:0; text-align:left;">
                                                        Traveler: <span style="font-size:16px;font-weight:500 !important;line-height: 1.38;color: #333333;">
                                                                            <a style="padding:0;margin:0;text-align:left;font-weight: 500 !important;line-height:1.38;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #333333 !important;">{{{traveler_name}}}</a></span>
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr style="padding:0;vertical-align:top;text-align:left">
                                                <td class="columns first large-12 last small-12" style="font-family:roboto;font-weight:normal;text-align:left;font-size:16px;line-height:1.38;margin:0 auto;padding-top:2px;width:100%;padding-right:8px">
                                                    <p style="margin-block-start: 0px;margin-block-end: 0px;font-size:16px;letter-spacing: normal;line-height:1.38;color:#aaaaaa;padding-right:0; margin-right:0; text-align:left;">
                                                        Policy: <span style="font-size:16px;font-weight:500 !important;line-height: 1.38;color: #333333;">
                                                                            <a style="padding:0;margin:0;text-align:left;line-height:1.38;font-weight: 500 !important;font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif;font-size:16px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;color: #333333 !important;">{{policy_name}}</a></span>
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">

                                                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                            <td height="10px" style="font-size:10px;line-height:10px;">
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </td>
                                            </tr>

                                            <tr style="padding:0;vertical-align:top;text-align:left">
                                                <td style="font-family:roboto;font-weight:normal;text-align:left;font-size:16px;line-height:1.38;margin:0 auto;padding-top:2px;width:100%;padding-right:8px">
                                                    <p style="padding:0;margin:0;text-align:left;line-height:normal;font-weight:500 !important;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; font-size:24px;color: #333333; padding-bottom:8px; border-collapse: collapse !important;margin-bottom:0 !important;">
                                                        Trip Summary
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                <td height="6px" style="font-size:10px;line-height:10px;">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table cellspacing="1" width="600px" max-width="600px">

                                                        <tr style=" vertical-align: top; width: 100%; max-width: 100%;">
                                                            <td style="font-size:16px; color:#333333; margin:0; padding:0;margin-inline-start:0margin-inline-end:0; text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">
                                                                Flight </td>
                                                            <td style="font-size:16px; color:#333333; margin:0; text-align:right;padding:0;margin-inline-start:0margin-inline-end:0;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">${{amount_base}}&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table cellspacing="1" width="600px" max-width="600px">

                                                        <tr style=" vertical-align: top; width: 100%; max-width: 100%;">
                                                            <td style="font-size:16px; color:#333333; margin:0; padding:0;margin-inline-start:0margin-inline-end:0; text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">
                                                                Taxes &amp; Fees </td>
                                                            <td style="font-size:16px; color:#333333; margin:0; text-align:right;padding:0;margin-inline-start:0margin-inline-end:0;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">${{amount_tax}}&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table cellspacing="1" width="600px" max-width="600px">

                                                        <tr style=" vertical-align: top; width: 100%; max-width: 100%;">
                                                            <td style="padding-top:12px;font-size:16px; color:#333333; margin:0; padding:0;margin-inline-start:0margin-inline-end:0; text-align:left;line-height:normal !important;font-weight:bold; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">
                                                                Trip Total </td>
                                                            <td style="padding-top:12px;font-size:24px; color:#333333; margin:0; text-align:right;padding:0;margin-inline-start:0;letter-spacing: -0.5px;margin-inline-end:0;font-weight:bold; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important;">${{amount_total}}&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                            <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                <td height="12px" style="font-size:10px;line-height:10px;">

                                                </td>
                                            </tr>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table cellspacing="1" width="600px" max-width="600px">

                                                        <tr style=" vertical-align: top; width: 100%; max-width: 100%;">
                                                            <td style="font-size:14px; line-height: 1.29;color:#666666; margin:0; padding:0;margin-inline-start:0;margin-inline-end:0; text-align:left;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important; width:50%">
                                                                Paid via {{payment_card}}.</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                <td height="12px" style="font-size:10px;line-height:10px;">

                                                </td>
                                            </tr>
                                            <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                <td style="text-align:left;">
                                                    <p align="left" style="line-height:normal;font-weight:500;font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif;font-size: 24px;color: #333333;margin-bottom:0px;margin-top:8px;mso-line-height-rule: exactly !important;border-collapse: collapse !important;">
                                                        Important flight Information
                                                    </p>
                                                    <br/>
                                                    <p align="left" style="margin-bottom:0px;margin-top:0px;line-height: 1.38;font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif;font-size: 16px;color: #333333;mso-line-height-rule: exactly !important;border-collapse: collapse !important;">
                                                        {{flight_information}}
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;width:100%;position:relative;display:table">
                                            <tr style="padding-top:22px;vertical-align:top;text-align:left">
                                                <td class="columns first large-12 last small-12 standard-footer-padding" style="padding-top:22px;color:#333333;font-family:roboto, Helvetica, Arial, sans-serif;font-weight:normal;text-align:left;font-size:16px;line-height:19px;margin:0 auto;padding-bottom:16px;width:550px;padding-top:24px">
                                                    <p style="line-height: 22px; font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; font-size: 16px; color: #333333;">
                                                        The tuturing Team
                                                        <br/>
                                                        <a href="https://www.tuturing.com" style="padding-left:0px;-webkit-text-size-adjust: none; -ms-text-size-adjust: none; font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; font-size: 17px; text-decoration: none; color: #2572cc; word-break: break-all;">www.tuturing.com</a>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                <td height="22px" style="font-size:10px;line-height:10px;">

                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                            <table cellspacing="1" width="100%" min-width="100%">
                                <tr style=" vertical-align: top; min-width: 100%; max-width: 100%;">
                                    <td style="font-size:22px; color:#333333; margin:0; padding:0;margin-inline-start:0margin-inline-end:0; text-align:left;line-height:normal !important;font-weight:normal; font-stretch: normal;font-style: normal;font-family:roboto, helvetica neue, helvetica, arial, sans-serif; mso-line-height-rule: exactly !important;border-collapse: collapse !important;margin-bottom:0 !important; width:20%">
                                    </td>

                                    <td style="font-size: 12px; color: #333333; padding-top:24px; margin-right: 0px; text-align: center;">
                                        <p class="standard-footer-text center" style="text-align: left; line-height: 22px; font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; font-size: 14px; color: #aaaaaa;">
                                            Copyright &copy; 2020 &bull; tuturing &bull; Corporate travel management
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>